html {text-align:left;}
body {
  font-family: "helvetica", sans-serif;
  color: #000;
  font-weight: 300;
  line-height: 1.3;
  width: 600px;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
}

::selection {
  background-color: #ffffff;
  color: #FFA500;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
}
a{
   margin-right: 20px;
}
ol{
  word-spacing: normal;
}
.subtext {
  color: #7F7F7F;
}
body {
    padding-bottom: 50px;
}

.video-title-link {
  margin-right: 0;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  color: #0000EE;
  text-decoration: none; 
} 
a:hover { 
  text-decoration: underline;
} 
a:active { 
  text-decoration: none; 
}

